@charset "UTF-8";
@font-face {
  font-family: allura;
  src: url(../fonts/Allura/Allura-Regular.ttf);
}
@font-face {
  font-family: poppins;
  src: url(../fonts/Poppins-Medium.ttf);
}
@font-face {
  font-family: roboto;
  src: url(../fonts/Roboto-Light.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

body {
  text-align: center;
  font-family: roboto, serif;
  background: #21201e;
  margin: 0 auto;
}

header {
  height: 100vh;
  background: url(../img/bg-slider-06.jpg) center/cover;
  color: #eee;
  padding: 0 50px;
}
header nav {
  display: grid;
  grid-template-columns: 10% 82% 8%;
  align-items: center;
  height: 12vh;
  max-width: 1100px;
  margin: 0 auto;
}
@media screen and (max-width: 680px) {
  header nav {
    grid-template-columns: 50% 10% 40%;
  }
}
header nav .logo {
  font-weight: 100;
  font-family: allura, cursive;
  font-size: 2rem;
  text-align: left;
}
header nav ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-transform: uppercase;
  font-size: 0.8rem;
  padding: 0 30px;
}
@media screen and (max-width: 680px) {
  header nav ul {
    visibility: hidden;
  }
}
header nav ul li {
  cursor: pointer;
}
header nav .reseaux-sociaux {
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
  margin: 0 5px;
  font-size: 0.8rem;
}
header nav .reseaux-sociaux i {
  transition: 0.2s;
}
header nav .reseaux-sociaux i:hover {
  transform: scale(1.3);
}
header .header-text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 88vh;
}
header .header-text div {
  margin-top: -150px;
}
header .header-text div h2 {
  font-family: allura, cursive;
  color: rgb(166, 114, 69);
  font-size: 2.8rem;
}
header .header-text div h1 {
  text-transform: uppercase;
  font-size: 3.2rem;
  letter-spacing: 10px;
  font-weight: 700;
  font-family: poppins, serif;
  margin-top: -28px;
}
@media screen and (max-width: 680px) {
  header .header-text div h1 {
    font-size: 2rem;
    margin-top: -15px;
  }
}
header .header-text div img {
  height: 27px;
  margin: 30px 0;
}
header .header-text div p {
  text-transform: uppercase;
  letter-spacing: 6px;
  font-size: 0.8rem;
  font-weight: 100;
}

#section1 {
  display: grid;
  grid-template-columns: 50% 50%;
}
@media screen and (max-width: 680px) {
  #section1 {
    grid-template-columns: 100%;
  }
}
#section1 #text-section {
  background: #eee;
}
#section1 #text-section #text {
  margin: 10px;
  padding: 10px;
  border: 1px dashed rgb(166, 114, 69);
  display: flex;
  align-items: center;
  flex-direction: column;
}
#section1 #text-section #text h2 {
  color: rgb(166, 114, 69);
  font-family: allura, cursive;
  font-size: 2rem;
  font-weight: 500;
  margin-top: 15px;
}
#section1 #text-section #text h3 {
  margin-top: -12px;
  text-transform: uppercase;
  margin-bottom: 15px;
  font-family: poppins, serif;
}
#section1 #text-section #text .image_plat {
  width: 30px;
  height: 30px;
  background: url(../img/ic-plate.png) center/cover no-repeat;
  margin: 15px;
}
#section1 #text-section #text p {
  margin: 15px auto;
  font-size: 0.9rem;
}
#section1 #text-section #text .avatar {
  width: 60px;
  height: 60px;
  background: url(../img/avatar-01.jpg) center/cover;
  border-radius: 30px;
  margin: 15px auto;
}
#section1 #text-section #text span {
  font-weight: bold;
}
#section1 #text-section #text h6 {
  text-transform: uppercase;
  color: rgb(182, 182, 182);
  margin-bottom: 20px;
}
#section1 .image-section {
  background: url(../img/store-01.jpg) center/cover;
}
@media screen and (max-width: 680px) {
  #section1 .image-section {
    display: none;
  }
}

#section2 {
  color: #eee;
  padding-bottom: 100px;
  position: relative;
}
#section2::after {
  content: "";
  position: absolute;
  height: 620px;
  width: 100%;
  background: url(../img/bg-menu-01.jpg) center/cover;
  bottom: -330px;
  transform: translate(-50%, -50%);
}
#section2 h2 {
  color: rgb(166, 114, 69);
  font-size: 2rem;
  font-family: allura, cursive;
  font-weight: 500;
  padding: 60px 0 30px;
}
#section2 ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 50%;
  margin: 30px auto;
  min-width: 500px;
}
#section2 ul li {
  border-bottom: 1px solid rgb(182, 182, 182);
  padding-bottom: 8px;
}
#section2 .meals {
  background: #eee;
  color: #21201e;
  width: 85%;
  max-width: 800px;
  margin: 0 auto;
  border-top: 4px solid rgb(166, 114, 69);
  padding: 15px 0;
  display: grid;
  grid-template-columns: 50% 50%;
  z-index: 100;
  position: relative;
}
@media screen and (max-width: 680px) {
  #section2 .meals {
    grid-template-columns: 100%;
  }
}
#section2 .meals .menu {
  display: grid;
  grid-template-columns: 25% 60% 15%;
  border-bottom: 1px dashed rgb(182, 182, 182);
  padding: 30px 0;
  margin: 0 20px;
}
#section2 .meals .menu img {
  border-radius: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  align-self: center;
}
#section2 .meals .menu .text-menu {
  text-align: left;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 10px;
  height: 100%;
}
#section2 .meals .menu .text-menu h3 {
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 900;
  margin-bottom: 5px;
}
#section2 .meals .menu > p {
  color: rgb(166, 114, 69);
  font-weight: 600;
  display: grid;
  width: 100%;
  align-items: center;
}

#section3 {
  width: 90%;
  max-width: 1050px;
  margin: 0 auto;
  background: #eee;
  margin-top: 100px;
  display: grid;
  grid-template-columns: 30% 70%;
}
@media screen and (max-width: 680px) {
  #section3 {
    grid-template-columns: 100%;
  }
}
#section3 #section-left {
  background: black;
  color: #eee;
}
#section3 #section-left div {
  margin: 25px;
  border: 1px dashed #eee;
  padding: 30px 10px;
}
#section3 #section-left div h2 {
  color: rgb(166, 114, 69);
  font-family: allura, cursive;
  font-size: 2rem;
  font-weight: 500;
}
#section3 #section-left div h3 {
  margin-top: -12px;
  text-transform: uppercase;
  margin-bottom: 15px;
  font-family: poppins, serif;
}
#section3 #section-left div img {
  margin-bottom: 15px;
}
#section3 #section-left div h4 {
  text-transform: uppercase;
  color: rgb(166, 114, 69);
  margin: 15px 0;
}
#section3 #section-left div p {
  font-size: 0.8rem;
}
#section3 #section-right {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
@media screen and (max-width: 680px) {
  #section3 #section-right {
    padding: 30px 0;
  }
}
#section3 #section-right h2 {
  color: rgb(166, 114, 69);
  font-family: allura, cursive;
  font-size: 2rem;
  font-weight: 500;
}
#section3 #section-right h1 {
  margin-top: -12px;
  text-transform: uppercase;
  font-family: poppins, serif;
}
#section3 #section-right img {
  height: 25px;
  margin: 30px auto 40px;
}
#section3 #section-right #input {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 30px;
}
@media screen and (max-width: 680px) {
  #section3 #section-right #input {
    grid-template-columns: 100%;
    width: 70%;
  }
}
#section3 #section-right #input > * {
  padding: 10px 0;
  margin: 10px;
  background: none;
  outline: none;
  border: none;
  border-bottom: 1px solid rgb(182, 182, 182);
}
#section3 #section-right button {
  color: #eee;
  font-family: poppins, serif;
  background: #21201e;
  padding: 16px 34px;
  border: none;
  border-radius: 50px;
  letter-spacing: 4px;
  cursor: pointer;
  font-weight: 700;
  transition: 0.2s ease;
}
#section3 #section-right button:hover {
  transform: translateX(2px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.356);
}

#section4 {
  padding: 50px 20px 90px;
}
@media screen and (max-width: 680px) {
  #section4 {
    display: none;
  }
}
#section4 .event-container {
  max-width: 1000px;
  margin: 0 auto;
}
#section4 .event-container h3 {
  color: rgb(166, 114, 69);
  font-size: 2.5rem;
  font-family: allura, cursive;
  font-weight: 500;
}
#section4 .event-container h1 {
  margin-top: -12px;
  text-transform: uppercase;
  font-family: poppins, serif;
  font-size: 2rem;
  color: #eee;
}
#section4 .event-container img {
  margin: 40px;
}
#section4 .event-container .event-grid {
  display: grid;
  grid-template-columns: 57% 41%;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "a b" "c b";
  gap: 20px;
}
#section4 .event-container .event-grid .date-content {
  background: #21201e;
  height: 86px;
  width: 86px;
  margin: 0 auto;
  color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  line-height: 22px;
}
#section4 .event-container .event-grid .date-content h6 {
  font-size: 1.7rem;
}
#section4 .event-container .event-grid .adress {
  background: #eee;
}
#section4 .event-container .event-grid .adress h2 {
  letter-spacing: 1px;
  font-size: 1.3rem;
  font-weight: 500;
  padding-left: 8px;
}
#section4 .event-container .event-grid .adress p {
  font-size: 0.9rem;
  color: rgb(182, 182, 182);
  margin-top: 20px;
  letter-spacing: 1px;
}
#section4 .event-container .event-grid .adress p i {
  margin-right: 3px;
  font-size: 0.7rem;
  transform: translateY(-2px);
}
#section4 .event-container .event-grid .adress p i:nth-child(2) {
  margin-left: 10px;
}
#section4 .event-container .event-grid .adress h5 {
  letter-spacing: 2px;
  margin-top: 25px;
}
#section4 .event-container .event-grid .event-left {
  display: grid;
  grid-template-columns: 39% 61%;
  text-align: left;
}
#section4 .event-container .event-grid .event-left .date {
  display: flex;
  justify-content: center;
  align-items: center;
}
#section4 .event-container .event-grid .event-left .adress {
  color: #21201e;
  padding: 30px 20px;
}
#section4 .event-container .event-grid .event1 {
  grid-area: a;
  background: url(../img/event-01.jpg) center/cover;
}
#section4 .event-container .event-grid .event2 {
  grid-area: c;
  background: url(../img/event-02.jpg) center/cover;
}
#section4 .event-container .event-grid .event3 {
  grid-area: b;
  background: url(../img/event-03.jpg) center/cover;
  padding: 25px;
}
#section4 .event-container .event-grid .event3 .adress {
  height: 100%;
}
#section4 .event-container .event-grid .event3 .adress h2 {
  margin: 40px 0 15px;
}
#section4 .event-container .event-grid .event3 .adress h5 {
  padding: 45px 0;
}

#section5 {
  padding: 70px 0 230px;
  position: relative;
}
#section5:after {
  content: "";
  height: 350px;
  width: 100%;
  position: absolute;
  background: url(../img/gmap.jpg) center/cover;
  left: 0;
  bottom: 0;
}
#section5 .quote-container {
  background: #eee;
  z-index: 3;
  position: relative;
  max-width: 1000px;
  width: 90%;
  margin: 0 auto;
  padding: 65px 70px;
  box-shadow: 0 0 3px #333;
}
#section5 .quote-container:before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  background: url(../img/avatar-02.jpg) center/cover;
  z-index: 4;
  top: -25px;
  transform: translateX(-50%);
  border-radius: 50px;
}
#section5 .quote-container .text-container {
  margin-bottom: 30px;
  line-height: 30px;
}
#section5 .quote-container .text-container::before {
  content: "❝";
}
#section5 .quote-container .text-container::after {
  content: "❞";
}
#section5 .quote-container h2 {
  font-weight: 200;
  margin: 15px 0;
}
#section5 .quote-container p {
  color: rgb(166, 114, 69);
}

footer {
  background: url(../img/bg-footer.jpg) center/cover;
}
@media screen and (max-width: 680px) {
  footer {
    background: #21201e;
  }
}
footer > div {
  display: grid;
  grid-template-columns: 50% 50%;
  color: #eee;
  max-width: 1000px;
  width: 90%;
  margin: 0 auto;
  padding: 50px 0;
}
@media screen and (max-width: 680px) {
  footer > div {
    grid-template-columns: 100%;
  }
}
footer > div .footer-left {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 40px;
}
@media screen and (max-width: 680px) {
  footer > div .footer-left {
    display: none;
  }
}
footer > div .footer-left h3 {
  color: rgb(166, 114, 69);
  font-size: 2.2rem;
  font-family: allura, cursive;
  font-weight: 500;
}
footer > div .footer-left p {
  font-size: 0.8rem;
  line-height: 30px;
}
footer > div .footer-right {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 40px;
}
footer > div .footer-right label, footer > div .footer-right span {
  text-transform: uppercase;
  font-size: 0.8rem;
  font-size: 800;
  font-family: poppins, serif;
}
footer > div .footer-right input {
  width: 50%;
  min-width: 100px;
  background: none;
  outline: none;
  border: 1px solid grey;
  color: #eee;
  padding: 10px;
  margin: 10px 0 30px;
}
footer > div .footer-right > div {
  display: flex;
  align-items: center;
}
footer > div .footer-right > div ul {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
}
footer > div .footer-right > div ul li {
  margin: 0 20px;
  color: rgb(182, 182, 182);
  font-size: 0.8rem;
  cursor: pointer;
}
footer > div .footer-right > div ul li i {
  transition: 0.2s;
}
footer > div .footer-right > div ul li i:hover {
  transform: scale(1.3);
}/*# sourceMappingURL=index.css.map */