#section4 {
    padding: 50px 20px 90px;

    @media screen and (max-width: 680px){
        display: none;
    }
    
    .event-container {
        max-width: 1000px;
        margin: 0 auto;
        h3 {
            color: $orange1;
            font-size: 2.5rem;
            font-family: $font1;
            font-weight: 500;
        }
        h1 {
            margin-top: -12px;
            text-transform: uppercase; 
            font-family: $font2;
            font-size: 2rem;
            color: $white1;
        }
        img {
            margin: 40px;
        }
        .event-grid {
            display: grid;
            grid-template-columns: 57% 41%;
            grid-template-rows: 1fr 1fr;
            grid-template-areas: 
                "a b"
                "c b";
            gap: 20px;

            .date-content {
                background: $black1;
                height: 86px;
                width: 86px;
                margin: 0 auto;
                color: $white1;
                @include childCenter;
                flex-direction: column;
                line-height: 22px;

                h6 {
                    font-size: 1.7rem;
                }
            }
            .adress {
                background: $white1;

                h2 {
                    letter-spacing: 1px;
                    font-size: 1.3rem;
                    font-weight: 500;
                    padding-left: 8px;
                }
                p {
                    font-size: 0.9rem;
                    color: $grey1;
                    margin-top: 20px;
                    letter-spacing: 1px;

                    i {
                        margin-right: 3px;
                        font-size: 0.7rem;
                        transform: translateY(-2px);

                        &:nth-child(2) {
                            margin-left: 10px;
                        }
                    }
                }
                h5 {
                    letter-spacing: 2px;
                    margin-top: 25px;
                }
            }
            .event-left {
                display: grid;
                grid-template-columns: 39% 61%;
                text-align: left;

                .date {
                    @include childCenter;
                }
                .adress {
                    color: $black1;
                    padding: 30px 20px;
                }
            }
            .event1 {
                grid-area: a;
                background: url(../img/event-01.jpg) center/cover;
            }
            .event2 {
                grid-area: c;

                background: url(../img/event-02.jpg) center/cover;
            }
            .event3 {
                grid-area: b;

                background: url(../img/event-03.jpg) center/cover;
                padding: 25px;
                .adress {
                    height: 100%;

                    h2 {
                        margin: 40px 0 15px;
                    }

                    h5 {
                        padding: 45px 0;
                    }
                }
            }
        }
    }
}